<%= title "#{@todo_list.title}" %>

<ul class="list todo-items no-bullet">	
	<% @todo_list.todo_items.each do |todo_item| %>
		<li id="<%= dom_id(todo_item)%>" class="todo_item row">
			<div class="small-2 medium-1 columns checkmark">
				<% if todo_item.completed? %>
					<%= link_to "Mark Incomplete", complete_todo_list_todo_item_path(@todo_list, todo_item), method: :patch, class: "icon-check checked hide-text" %>
				<% else %>
					<%= link_to "Mark Complete", complete_todo_list_todo_item_path(@todo_list, todo_item), method: :patch, class: "icon-check unchecked hide-text" %>
				<% end %>
			</div>
			<div class="small-10 medium-11 columns truncate todo-content" title="<%= todo_item.content %>">
				<%= link_to todo_item.content, edit_todo_list_todo_item_path(@todo_list, todo_item) %>
			</div>
		</li>
	<% end %>
</ul>

<p>
	<%= link_to "New Todo Item", new_todo_list_todo_item_path %>
</p>
