<div class="row collapse todo-list-title">
	<div class="small-11 columns">
		<h2 class="page-title truncate"><%= @todo_list.title %></h2>
	</div>
	<div class="small-1 columns">
		<span class="fa fa-caret-down"></span>
	</div>
</div>

<div class="row hide" id="todo-list-functions">
	<div class="small-4 columns">
		<%= link_to edit_todo_list_path(@todo_list), class: "button expand radius outline" do %>
			<span class="fa fa-edit"></span>
			Edit
		<% end %>
	</div>
	<div class="small-4 columns">
		<%= link_to edit_todo_list_path(@todo_list), class: "button expand radius outline", data: { "reveal-id" => "email-modal" } do %>
			<span class="fa fa-envelope-o"></span>
			Email
		<% end %>
	</div>
	<div class="small-4 columns">
		<%= link_to edit_todo_list_path(@todo_list), class: "button expand radius outline alert", method: :delete, data: { confirm: "Are you sure? This is no undo." } do %>
			<span class="fa fa-trash-o"></span>
			Delete
		<% end %>
	</div>
</div>

<ul class="list todo-items no-bullet">	
	<% @todo_list.todo_items.each do |todo_item| %>
		<li id="<%= dom_id(todo_item)%>" class="todo_item row">
			<div class="small-2 medium-1 columns checkmark">
				<% if todo_item.completed? %>
					<%= link_to "Mark Incomplete", complete_todo_list_todo_item_path(@todo_list, todo_item), method: :patch, class: "icon-check checked hide-text" %>
				<% else %>
					<%= link_to "Mark Complete", complete_todo_list_todo_item_path(@todo_list, todo_item), method: :patch, class: "icon-check unchecked hide-text" %>
				<% end %>
			</div>
			<div class="small-10 medium-11 columns truncate todo-content" title="<%= todo_item.content %>">
				<%= link_to todo_item.content, edit_todo_list_todo_item_path(@todo_list, todo_item) %>
			</div>
		</li>
	<% end %>
</ul>
