<h1><%= @todo_list.title %></h1>

<h2><%= @todo_list.description %></h2>

<% if @todo_list.has_incomplete_items? %>
	<h3>Incomplete Items: </h3>

	<ul class="todo_items">
		<% @todo_list.todo_items.incomplete.each do |todo_item| %>
			<li><%= todo_item.content %></li>
		<% end %>
	</ul>
<% end %>

<% if @todo_list.has_complete_items? %>
	<h3>Complete Items: </h3>

	<ul class="todo_items complete-list">
		<% @todo_list.todo_items.complete.each do |todo_item| %>
			<li><%= todo_item.content %></li>
		<% end %>
	</ul>
<% end %>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>
