<%= title "Account Settings" %>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
  	<legend>About You</legend>
  	<div class="row">
  		<div class="small-12 columns">
  			<%= f.label :first_name, "First name" %>
  		</div>
  	</div>
  	<div class="row">
  		<div class="small-12 columns">
    		<%= f.text_field :first_name %>
		</div>
	</div>
    <div class="row">
  		<div class="small-12 columns">
    		<%= f.label :last_name, "Last name" %>
		</div>
	</div>
    <div class="row">
  		<div class="small-12 columns">
    		<%= f.text_field :last_name %>
		</div>
	</div>
    <div class="row">
  		<div class="small-12 columns">
    		<%= f.label :email, "Email" %>
		</div>
	</div>
    <div class="row">
  		<div class="small-12 columns">
    		<%= f.text_field :email %>
		</div>
	</div>
  </fieldset>
 	
  <fieldset>
  	<legend>Change your password</legend> 
  	<div class="row">
  		<div class="small-12 columns">
    		<%= f.label :password, "Password" %>
    	</div>
    </div>
	<div class="row">
  		<div class="small-12 columns">    		
    		<%= f.password_field :password %>
    	</div>
    </div>
	<div class="row">
  		<div class="small-12 columns">
    		<%= f.label :password_confirmation, "Password (again)" %>
    	</div>
    </div>
	<div class="row">
  		<div class="small-12 columns">
    		<%= f.password_field :password_confirmation %>
    	</div>
    </div>
  </fieldset>
  <div class="row">
  	<div class="small-12 columns">
    	<%= f.submit "Save", class: "button radius expand" %>
    </div>
  </div>
<% end %>
